<title>   </title>  
  <script>
    $(window).bind("load", function() {
       $.getScript('<%= asset_path('assets/social.js') %>', function() {});
    });
  </script>                   
    <!--=========================== Start: MAIN CONTENT ========================================-->
  <div class="splash">
    <% if session[:events].present? %>
      <%= link_to "Continue Submission", new_event_path,:type => 'button',:class => 'btn btn-info'%>        
    <% end %>
     <div class="container">   
      <div class="row">    
        <h1 class="tour_1 fontedits" >Thousands of events around your campus</h1>
        <!--<h3 class="fontedits" > Events that interest you are just a click away!</h3> <br>-->
        <h4 class="fontedits">Now....Just a click away....</h4>
    <!---<div class="fb-like-box" data-href="http://www.facebook.com/Kampusbeecom" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>-->
   <%# render partial: "shared/video" %>
        <%# form_tag refresh_path, :method => :get do %>
        <%= render partial: "shared/domain", collection: @domains.limit(12) %>
        <%# render partial: "static_pages/slider" %><br><br>     
        
        <%#submit_tag "Start exploring",class:"btn btn-primary btn-lg wireframe move fontedits" %>
        <%=link_to "All Events",all_campus_path, class:"btn btn-primary btn-xs wireframe move skip_move" %>
        <%# end %>    
      </div><br><br><br>
      <%=link_to "Add an Event. It's free.",new_event_path, class:"btn btn-primary btn-lg wireframe" %><br><br><br>
   
   <!--     <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Dropdown
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                     </ul>
                  </div>
                    </span>
                  </div>-->
      </div>
      </div>
      <div class="splash">
     <div class="container">   
      <div class="row">    
        <!--<h3 class="fontedits" > Events that interest you are just a click away!</h3> <br>-->
        <h4 class="fontedits">Choose by your areas of interest</h4>
    <!---<div class="fb-like-box" data-href="http://www.facebook.com/Kampusbeecom" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>-->
   <%# render partial: "shared/video" %>
        <%# form_tag refresh_path, :method => :get do %>
       
        <%= render partial: "static_pages/slider" %><br><br>     
        
        <%#submit_tag "Start exploring",class:"btn btn-primary btn-lg wireframe move fontedits" %>
        <%=link_to "All Events",all_campus_path, class:"btn btn-primary btn-xs wireframe move skip_move" %>
        <%# end %>    
      </div><br><br><br>
      <%=link_to "Sign up for free.",new_user_registration_path, class:"btn btn-primary btn-lg wireframe" %><br><br><br>
   
   <!--     <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Dropdown
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                     </ul>
                  </div>
                    </span>
                  </div>-->
      </div>
      </div>
      <div class="splash">
      <div class="container">     
    <div class="row">
     <div class="col-lg-7">
     <div class="row">
    
         <%= render partial: "campuses/campus", collection: @campuses %> 
            </div>
            
     <h4>We are reaching campuses at lightening speed... It's just a matter of time.</h4> 
    </div>    
    <div class="col-lg-5 ">  
      <div class="well wellopac">
      <h2 class="fontedits">Or else start with your campus </h2>
      <h5>Check out the events happening in your campus</h5>  
        <%=collection_select nil, :campus_id, Campus.all, :short_name, :name,{:prompt => 'Please select your campus'},{:onchange => "document.location = '/campuses/' + this.value", :class => "form-control"} %><br>
      <h5>Campus not available? Add here.</h5>
        <%= form_for @campus do |f| %>
      <div class="row">
      <div class="col-lg-8 ">
        <%= f.text_field :name, :placeholder =>'Submit your campus',class: 'form-control' %>
        <p>Ex: Indian Institute of Technology Kharagpur, Vellore Institute of Technology</p>
      </div>
      <div class="col-lg-4 ">
        <%= f.text_field :short_name, :placeholder =>'Short name',class: 'form-control' %><br>
       <p>Ex: IITKGP, VIT</p>
      </div>
      </div>     
        <%= f.submit "Submit", class: "btn btn-sm btn-primary center" %>          
    <%end%>                                                        
  </div>
 </div>
</div> <br> <br>
</div>
</div>
<div class="splash">
      <div class="container">
<div class="row">
   <div class="col-lg-6">
     <ul class="list_style">
      <li><span class="fa fa-institution"></span>Stay notified about latest happenings in and around your campus</li>
      <li><span class="fa fa-angellist"></span>Create events for free. It's supereasy</li>
      <li><span class="fa fa-drupal"></span>Follow users/organizers/campuses/campus groups/events. Cool! Isn't it? </li>                     
      </ul>
      </div>
   <div class="col-lg-6">
     <ul class="list_style">
      <li><span class="fa fa-bell"></span>Set up reminders just by a single click!</li>      
      <li><span class="fa fa-envelope"></span>Subscribe to our newsletter to get to know about latest events</li>
      <li><span class="fa fa-comments"></span>Easy signup using social network logins</li>                      
      </ul>
      </div>      
    </div>
</div>
</div>        <!--======================= Center stufff===============-->

    <!-- End: MAIN CONTENT -->

