<div class="container">
<br>
<br>
  <div class="row">
   <div class="col-lg-2">
    <br>  
    <%= render partial: "shared/sidebar"%>
<div class="col-lg-10">  
  <legend>Filtered by: <%= "Oops! No Events!" if @all.blank?%><%= "Keyword: #{@search}" if @search.present?%>
  <% if @cat_items %>
  <% @cat_items.each do |category| %>
     <a class="label label-warning"> <%=category.name%></a>
      <% end %>
      <% end %>
      <% if @dom_items %>
   <% @dom_items.each do |domain| %>
     <a class="label label-primary"> <%=domain.name%></a>
      <% end %>
      <% end %>
      <% if @eli_items %>
      <% @eli_items.each do |eligible| %>
     <a class="label label-primary opac"> <%=eligible.name%></a>
      <% end %>
      <% end %>   
  </legend></a>
  <%= render partial: "static_pages/event", collection: @all %>
  </div>
 </div>
</div>
   <script type="text/javascript" language="javascript" charset="utf-8">
   // <![CDATA[
          $('[data-toggle="popover"]').popover({trigger: 'hover'});
   // ]]>
   </script> 
