<%= form_for(@campus) do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
     <p>Ex: Indian Institute of Technology Kharagpur, Vellore Institute of Technology</p>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control" %>
    <p>Ex: IITKGP, VIT</p>
  </div><br>
  <div class="actions">
    <%= f.submit "Create campus", class: "btn btn-primary" %>
  </div>
<% end %>
