<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kampusbee.com | Campus Events/College Events ">
    <meta name="author" content="Narendra">
    <meta name="keywords" content="Campus Events, Fests, College Events, workshops, seminars, conferences, campus buzz">
    <title>kampusbee.com</title>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag  "application" %>    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :javascripts %>    
    <%= csrf_meta_tags %>
          
    <%= render 'layouts/shim' %>
    <%= render 'layouts/analytics' %>
</head>
<body>
  <div class="bodyfont">      
    <div id="bbbb">
      <a href="<%=root_path%>"><%= image_tag 'beta.png'%></a>
    </div> 
  <div id="feedback">
    <p class="tour_10"></p>
      <a href="<%=new_contact_form_path%>">Feedback</a>
  </div> 

    <%= render 'layouts/header' %> 
    <%= render partial: "shared/flash_messages", flash: flash %>

    <%= yield %>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-angle-up fa-lg"></span></a>
    <script type="text/javascript" language="javascript" charset="utf-8">
   // <![CDATA[
          $('[data-toggle="popover"]').popover({trigger: 'hover'});
   // ]]>
    </script> 
   <%= render 'layouts/footer' %> 
 </div>

  </body>
</html>
